:root {
  --main-color: #07584A;
  --light-color: #E7F4F2;
  --form-font-size: 1rem;
}

  h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
    color: var(--main-color);
    
  }
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
    padding-top: 1.5rem;
  } 

  p {
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    color: var(--main-color);
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.app-container {
  display: flex;
  justify-items: center;
  flex-direction: row;
}
.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 100vh;
  border-right: 2px var(--main-color) solid;
  background-color: var(--light-color);
}
.sidebar__hamburger {
  width: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.sidebar__avatar {
  display: flex;
  border-bottom: 2px var(--main-color) solid;
  width: 90%;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.sidebar__avatar-img {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.sidebar__avatar-name {
  padding-top: 1rem;
}



.todo-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-list__items__add-circle {
  position: absolute;
  top: 33rem;
  z-index: 1;
}

.todo-list__items__button {
  display: flex;
  justify-content: center;
  background-color: var(--light-color);
  border-radius: 2rem;
  width: 20rem;
  height: 3rem;
  margin-top: 1rem;
}
.todo-list__items__button-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.todo-list__items__button-content__checkbox
 {
  position: absolute;
  right: 7.5rem;
    -webkit-appearance: none;
    background-color: var(--light-color);
    border: 1.5px solid var(--main-color);
    border-radius: 10rem;
    padding: 8px;
    display: inline-block;
    outline: none
}



.todo-list__items__button-content__checkbox:checked {
  background-color: var(--main-color);
	border: 1.5px solid var(--main-color);
  color: var(--light-color);
  outline: none;
}

.todo-list__items__button-content__checkbox:checked:after {
  content: '\2713';
	font-size: 15px;
	position: absolute;
  top: -1px;
	left: 2px;
  color: var(--light-color);
  outline: none;
}
.todo-list__items__button-content__title {
  position: absolute;
  right: 1.5rem;
  width: 5rem
}

.todo-list__items__button-content__edit {
  position: absolute;
  left: 4.5rem;
  top: .6rem;
  border: none;
  padding: 1rem;
  background: url("./images/edit.png") no-repeat;
  outline: none;
  cursor: pointer;
}

.todo-list__items__button-content__remove {
  position: absolute;
  top: .7rem;
  left: 7rem;
  border: none;
  padding: 1rem;
  background: url("./images/remove_circle_24px.png") no-repeat;
  outline: none;
  cursor: pointer;
}

.todo-list__add-item__container {
  padding-top: 2rem;
}
.todo-list__add-item__name {
  font-size: var(--form-font-size);
}

.todo-list__add-item__description {
  padding-top: 1.2rem;
  font-size: 1rem;
}

input[type=text],
input[type=textarea],
input[type=text]:focus{
  -webkit-appearance: none;
  border-radius: 1rem;
  width: 10rem;
  border: 1px var(--light-color) solid;
  background-color: var(--light-color);
  color: var(--main-color);
  height: 3rem;
  width: 20rem;
  margin-top: .2rem;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Abel', sans-serif;
}

input[type=textarea] {
  height: 9rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  .todo-list {
    width: 80%;
  }
}
